body {
  background-color: #dbdbdb;
}

.jumbotron {
  background: url('jumbo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron .container {
  height: 540px;
}

#submit {
  background-color: #018f7f;
  color: #fff;
}

h3 {
  text-align: center;
}

.scrollbox {
  height: 400px;
  width: 600px;
  overflow:auto;
  border:5px dotted #3a3a3a;
  border-radius: 5%;
}
