body {
  background-color: #dbdbdb;
}

.jumbotron {
  background: url('jumbo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron .container {
  height: 540px;
}

#submit {
  background-color: #018f7f;
  color: #fff;
}

legend {
  text-align: center;
}
