/* BODY */

body {
  background-color: #dbdbdb;
  font-family: 'Raleway', sans-serif;
}

/* HEADER */

.banner {
  width: 100%;
  height:auto;
}

/* FORMS */

fieldset {
  margin: 0 60px 0 30px;
}

h3 {
  padding: 20px;
  margin-top: auto;
  background-color: #dbdbdb;
  font-weight: bold;
}

#submit {
  background-color: #018f7f;
  color: #fff;
}

/* SCROLLBOX LIST */

.scrollbox {
  height: 450px;
  width: 500px;
  overflow: auto;
  border:4px dotted  #3a3a3a;
  border-radius: 5%;
  padding: 10px 0 30px 60px;
  margin: 20px 0 20px 20px;
}

.scrollbox::-webkit-scrollbar {
    display: none;
}

.scrollbox img {
  width: 300px;
  height: auto;
  border: 2px solid #424242;
  padding: 5px;
  margin: auto;
  background-color: #fff;
}

.scrollbox h3 {
  padding: 10px;
}

.panel-default {
  background-color: #dbdbdb;
}

h4 {
  font-weight: bold;
  padding-top: 20px;
}

li {
  font-size: 16px;
}

p {
  font-size: 16px;
}

button {
  margin-top: 20px;
}


/* FOOTER */

footer {
  width: 100%;
  height: 60px;
  margin: 50px 0 0;
  background-color: #424242;
  color: #fff;
}


.copyright {
  position: relative;
  top: 50%;
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  line-height: 1.3;
  transform: translateY(-50%);
}


.hidden {
  display: none;
}

/* MODAL */

#editModal .modal-footer {
  border: 0px;
}

#modal-form {
  padding-bottom: 5px;
}
